.main {
    width: 550px;
    height: 350px;
    background-color: rgb(155, 208, 251
    );
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 5px 10px;
    display: flex;
    flex-direction: column;
}

.top {
    flex-basis: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*.section1, .section2, .section3 {
    border-radius: 20px;
    margin-top: 20px;
    width:130px;
    height: 50px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: 0.3s;
}

.section1:hover,.section2:hover,.section3:hover {
    background-color: black;
    cursor: pointer;
    color: white;
}*/

.middle {
    flex-basis: 200px;
    flex-grow: 1;
    font-size: 10rem;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.bottom {
    flex-basis: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-elements {
    margin: 0 10px 20px 10px;
}

#start-button {
    border-radius: 20px;
    width:130px;
    height: 50px;
    border: 3px solid black;
    background-color: transparent;
    background-color: black;
    color: white;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    order: 0;
    transition: 0.3s;
}

#start-button:hover {
    color:black;
    background-color: white;
    cursor: pointer;
}

#reset-logo {
    font-size:30px;
    order: 1;
    border: none;
    background-color: transparent;
    outline: none;
}
#reset-logo:hover {
    cursor: pointer;
}

#settings-logo {
    font-size:30px;
    order:2;
}
#settings-logo:hover {
    cursor: pointer;
}